@import url('https://fonts.googleapis.com/css2? family= Indie+Flor & display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Flor Indie, Arial, Helvetica, sans-serif;
}

body{

    background-color: black;

}

canvas{

    width: 100%;
    height: 150vw;
    position: absolute;

}

#nav-bar{

    width: 100%;
    position: relative;
    opacity: 0.8;
}

ul#menu{

    display: flex;
    justify-content: center;
    width: 100%;
    
}

ul#menu li{

    background-color: rgb(0, 232, 62);
    list-style: none;
    padding: .5rem .7rem .5rem;
    font-size: 1.2rem;
    font-variant: small-caps;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all .2s;
    
}

ul#menu li a{
    text-decoration: none;
    color: black;
}

ul#menu li:hover{
    transform: scale(1.2);
    background-color: black;
    color: rgb(0, 232, 62);
    text-decoration-line: underline;
}

ul#menu li a:hover{
    color: rgb(0, 232, 62);
}

header{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#eu img{
    display: flex;
    width: 16vw;
    border-radius: 30%;
    padding: 1.5rem;
    margin: 0 auto;
    position: relative;
    
}

.box{

    background-color: black;
    padding: 10px 20px;
    width: 55vw;
    opacity: 0.9;
    text-align: center;

}

header section h1{

    margin-top: 3rem;
    font-size: 2rem;
}

header section h2{

    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    
}

.title{
    margin: 0 auto;
    background-color: rgb(0, 232, 62);
    font-size: 1.2rem;
    font-variant:small-caps;
    font-weight: lighter;
    color: black;
    opacity: 0.9;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    
}

p#sobre{

    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 3vw;     
}

ul#contatos{

    color: white;
    padding-top: 5vh;
    height: 100%;
    list-style: none;
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    text-decoration: none;
    
}

ul#contatos li{
    width: 15vw;
    height: 4vw;
    margin: 0 auto;
    text-align: center;
}

.div-title{

    margin: 0 auto;
    margin-bottom: 5vh;
};

.text-contatos{

    display: flex;
    justify-content: center;
    margin: 2vw;
    transition: all .3s;
}

.text-contatos:hover{

    transform:scale(1.3)
}

.text-contatos a{
    margin: 1vw;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;

}

ul#projetos{

    display:flex;
    justify-content: space-around;
    padding: 4vw;
    align-items: center;
}

ul#projetos li{

    transition: all .3s ease-in-out;
    padding: 1vw;
    list-style: none;
}

ul#projetos li:hover{
    text-decoration: none;
    transform: scale(1.2);
}

#projetos li a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;

}

/* cor icones: 13DA00 */

ul#skills{
    padding: 4vw;
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}

.icons{
    width: 75%;
    transition: all .3s;
    
}

.icons:hover{
    transform: scale(1.4);
}

#footer{

    background-color: black;
    font-size: 0.8rem;
    opacity: 0.8;
    width: 30%;
    color: #13DA00;
    text-align: center;
    margin: 0 auto
}

#footer div a{
    text-decoration: none;
    color: #13DA00;

}

@media(max-width: 1200px){
   
    canvas{
        height: 190vh;
    }
    
    #contatos {
        flex-direction: column;
    }

    .text-contatos{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
} 

@media(max-width:980px){
   
    canvas{
        height: 220vh;
    }
}

@media(max-width:700px){
   
    ul#contatos li{
        padding: .5rem;
    }

    ul#projetos{
        flex-direction: column;
    }    
}